<html>
  <head>
    <title>Crystal Gazer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="container app-container">
      <div class="row">
        <div class="twelve columns">
          <div class="header-container bottom-border ececec">
            {# <h4>Crystal Gazer</h4> #}
            <p class="logo">
              <img src="{{url_for('static', filename='Andela-logo-landscape-blue-400px.png')}}" width="150px">
            </p>
          </div>
        </div>
      </div>
      {# <hr> #}
      <div class="row">
        <div class="twelve columns">
          <div class="description">
            <h1>Crystal Gazer</h1>
            <p class="white">
              {# This is the thing that we are all talking about #}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="form-container">
            <form class="form" method="post" action="/get_prediction">
              <div class="row">
                <div class="twelve columns">
                  <div class="input-container">
                    <input type="text" name="name" class="input-field three columns" placeholder="Name">
                    <input type="text" name="score" class="input-field three columns" placeholder="Score">
                    <input type="text" name="score-percent" class="input-field three columns" placeholder="% Score">
                    <input type="text" name="completed" class="input-field three columns" placeholder="% Completed">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="six columns">
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m1-s1" class="input-field three columns" placeholder="M1-S1">
                        <input type="text" name="m1-s1-wrong" class="input-field three columns" placeholder="M1-S1 Wrong">
                        <input type="text" name="m1-s1-tries" class="input-field three columns" placeholder="M1-S1 Tries">
                        <input type="text" name="m1-s2-tries" class="input-field three columns" placeholder="M1-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m2-s1" class="input-field three columns" placeholder="M2-S1">
                        <input type="text" name="m2-s1-wrong" class="input-field three columns" placeholder="M2-S1 Wrong">
                        <input type="text" name="m2-s1-tries" class="input-field three columns" placeholder="M2-S1 Tries">
                        <input type="text" name="m2-s2-tries" class="input-field three columns" placeholder="M2-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m3-s1" class="input-field three columns" placeholder="M3-S1">
                        <input type="text" name="m3-s1-wrong" class="input-field three columns" placeholder="M3-S1 Wrong">
                        <input type="text" name="m3-s1-tries" class="input-field three columns" placeholder="M3-S1 Tries">
                        <input type="text" name="m3-s2-tries" class="input-field three columns" placeholder="M3-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m4-s1" class="input-field three columns" placeholder="M4-S1">
                        <input type="text" name="m4-s1-wrong" class="input-field three columns" placeholder="M4-S1 Wrong">
                        <input type="text" name="m4-s1-tries" class="input-field three columns" placeholder="M4-S1 Tries">
                        <input type="text" name="m4-s2-tries" class="input-field three columns" placeholder="M4-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m5-s1" class="input-field three columns" placeholder="M5-S1">
                        <input type="text" name="m5-s1-wrong" class="input-field three columns" placeholder="M5-S1 Wrong">
                        <input type="text" name="m5-s1-tries" class="input-field three columns" placeholder="M5-S1 Tries">
                        <input type="text" name="m5-s2-tries" class="input-field three columns" placeholder="M5-S2 Tries">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="six columns">
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m6-s1" class="input-field three columns" placeholder="M6-S1">
                        <input type="text" name="m6-s1-wrong" class="input-field three columns" placeholder="M6-S1 Wrong">
                        <input type="text" name="m6-s1-tries" class="input-field three columns" placeholder="M6-S1 Tries">
                        <input type="text" name="m6-s2-tries" class="input-field three columns" placeholder="M6-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m7-s1" class="input-field three columns" placeholder="M7-S1">
                        <input type="text" name="m7-s1-wrong" class="input-field three columns" placeholder="M7-S1 Wrong">
                        <input type="text" name="m7-s1-tries" class="input-field three columns" placeholder="M7-S1 Tries">
                        <input type="text" name="m7-s2-tries" class="input-field three columns" placeholder="M7-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m8-s1" class="input-field three columns" placeholder="M8-S1">
                        <input type="text" name="m8-s1-wrong" class="input-field three columns" placeholder="M8-S1 Wrong">
                        <input type="text" name="m8-s1-tries" class="input-field three columns" placeholder="M8-S1 Tries">
                        <input type="text" name="m8-s2-tries" class="input-field three columns" placeholder="M8-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m9-s1" class="input-field three columns" placeholder="M9-S1">
                        <input type="text" name="m9-s1-wrong" class="input-field three columns" placeholder="M9-S1 Wrong">
                        <input type="text" name="m9-s1-tries" class="input-field three columns" placeholder="M9-S1 Tries">
                        <input type="text" name="m9-s2-tries" class="input-field three columns" placeholder="M9-S2 Tries">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns before-inner-container">
                      <div class="twelve columns input-container">
                        <input type="text" name="m10-s1" class="input-field three columns" placeholder="M10-S1">
                        <input type="text" name="m10-s1-wrong" class="input-field three columns" placeholder="M10-S1 Wrong">
                        <input type="text" name="m10-s1-tries" class="input-field three columns" placeholder="M10-S1 Tries">
                        <input type="text" name="m10-s2-tries" class="input-field three columns" placeholder="M10-S2 Tries">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              
              <div class="row">
                <div class="twelve columns">
                  <div class="input-container">
                    <button type="submit" class="twelve columns button-primary predict-button"> PREDICT </button>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>